@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", monospace;
}

body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    background: linear-gradient(135deg, #5B5D6A 25%, #333741 50%, #333741 75%);
    background-size: 200% 200%;
    animation: backgroundAnimation 20s ease infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

header p {
    text-align: justify;
}