@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.conteiner {
    display: flex;
    justify-content: center;
}

.Foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #2d41c2;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.5);
}

.Foto:hover {
    transform: translateY(-2px);
}

body {
    background: repeating-linear-gradient(135deg, #121f72 25%, #2d41c2 50%, #121f72 75%);
    background-size: 200% 200%;
    animation: backgroundAnimation 20s ease infinite;
    color: #f5f5f5;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    scroll-margin-top: 80px;
    padding: 25px;
    text-align: justify;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    font-size: 2rem;
}

h4 {
    margin: auto;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #f5f5f5;
    padding: 20px;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.1rem;
    line-height: 1.5;
}

section h2, section p, section ul {
    font-size: 1.2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    color: #999999;
    margin-top: auto;
}

footer p {
    font-size: 1rem;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
